
create table pseu_{{t_name}} (
    {% for col in cols %}
    {{col.name}} {{col.type}},
    {% endfor %}
    cxrq number(8)
);

{% for col in cols %}
comment on column pseu_{{t_name}}.{{col.name}} is '{{col.comment}}';
{% endfor %}

select * from {{t_name}} for update;

V_SQL := '
        select {% for col in cols %} {{col.name}}{% if not loop.last -%},{% endif %}
        {% endfor %} from {{t_name}} t where t.cxrq = ' || I_DATE;

V_COLLIST := '
        {% for col in cols %} {{col.name}} "{{col.java}}" {% if not loop.last %},{% endif %}  -- {{col.comment}}
        {% endfor %}
        ';