<?xml version="1.0" encoding="GB2312" standalone="no"?>
<object create-date="2021.03.15 15:09:18" creator="开发者" flag="0" name="{{ table }}" object-id="{{ id }}" package="[14]日报统计" type="0" version="1.0">
    <describe>{{ desc }}</describe>
    <datasource-name>POSS</datasource-name>
    <attribute>264</attribute>
    <columns>
        <column>
            <name>ID</name>
            <describe>ID</describe>
            <type>1</type>
            <biz-type>200</biz-type>
            <length>16</length>
            <scale>0</scale>
            <control>0</control>
            <primary-property>2</primary-property>
            <nullable>false</nullable>
            <unique>false</unique>
            <enabled>false</enabled>
            <visible>false</visible>
            <attribute>0</attribute>
            <order-direction>0</order-direction>
            <category/>
            <fire-event>0</fire-event>
            <check-type>0</check-type>
            <real-type>0</real-type>
        </column>
        <column>
            <name>CXRQ</name>
            <describe>查询日期</describe>
            <type>13</type>
            <biz-type>300</biz-type>
            <length>8</length>
            <scale>0</scale>
            <control>3</control>
            <primary-property>0</primary-property>
            <nullable>true</nullable>
            <unique>false</unique>
            <enabled>true</enabled>
            <visible>true</visible>
            <option/>
            <ref-object/>
            <attribute>0</attribute>
            <order-direction>0</order-direction>
            <category/>
            <fire-event>0</fire-event>
            <check-type>0</check-type>
            <real-type>0</real-type>
            <properties/>
        </column>
    </columns>
    <display-options>
        <commands/>
        <relations/>
    </display-options>
    <subdivisions/>
    <methods/>
    <properties/>
    <orders/>
    <panels/>
    <extend-buttons/>
</object>
