CREATE OR REPLACE PROCEDURE {{prc}}(O_CODE   OUT INTEGER, --返回值
                                                O_NOTE   OUT VARCHAR2, --返回信息
                                                O_RESULT OUT SYS_REFCURSOR, --返回结果集
                                                I_YHID   IN INTEGER --用户ID
                                                ) AS
  /******************************************************************************
   项目名称：股票质押
   所属用户：poss
   概要说明：{{comment}}

    修订记录：
    修订日期       版本号       修订人             修改内容简要说明
   2021.03.03      V1.0.0       邱亚杰                   新增
  ******************************************************************************/
  V_SQL VARCHAR2(18000);
BEGIN
  --init
  O_CODE := 1;
  O_NOTE := '成功!';
  --check
  IF I_YHID IS NULL THEN
    O_CODE := -1;
    O_NOTE := 'I_YHID 不能为空 ';
    RETURN;
  END IF;

  V_SQL := 'select from dual';

  DBMS_OUTPUT.PUT_LINE(V_SQL);

  OPEN O_RESULT FOR V_SQL;

EXCEPTION
  WHEN OTHERS THEN
    O_CODE := -1;
    O_NOTE := SQLERRM;
END {{prc}};
