{
      "method": "{{method}}",
      "description": "{{desc}}",
      "procedur": "{{prc}}",
      "paging": false,
      "difClient": false,
      "returnType": "list",
      "queryModel": [
        {
          "sourceField": "I_YHID",
          "javaFiels": "czr",
          "fielsType": "int",
          "fielsDescription": "用户ID"
        },
        {
          "sourceField": "I_QSRQ",
          "javaFiels": "startDate",
          "fielsType": "int",
          "fielsDescription": "起始日期"
        },
        {
          "sourceField": "I_JZRQ",
          "javaFiels": "ddlnDate",
          "fielsType": "int",
          "fielsDescription": "截止日期"
        }
      ],
      "resultModel": []
    }