package com.apexsoft.crm.project.model;

public class ApprRepExport{{ mname }}Model {

    {% for f in fs %}
    String {{ f.name }};   // {{ f.comment }}
    {% endfor %}

    {% for f in fs %}
    public String get{{ f.upname }}() {
        return {{ f.name }};
    }

    public void set{{ f.upname }}(String {{ f.name }}) {
        this.{{ f.name }} = {{ f.name }};
    }
    {% endfor %}

}