<column>
            <name>{{ name }}</name>
            <describe>{{ desc }}</describe>
            <type>1</type>
            <biz-type>200</biz-type>
            <length>20</length>
            <scale>4</scale>
            <control>1</control>
            <primary-property>0</primary-property>
            <nullable>true</nullable>
            <unique>false</unique>
            <enabled>true</enabled>
            <visible>true</visible>
            <option/>
            <ref-object/>
            <attribute>0</attribute>
            <order-direction>0</order-direction>
            <category/>
            <fire-event>0</fire-event>
            <check-type>0</check-type>
            <real-type>0</real-type>
        </column>