GetPersonCustomer{{ cname }}Response {{ lname }}Response = personCustomerServiceBlockingStub
                .getPersonCustomer{{ cname }}(GetPersonCustomer{{ cname }}Request.newBuilder().setDueDiliRepID(dueDiliRepID).setCzr(czr).build());

getRecords({{ lname }}Response.getRecordsList(), StockExport{{ mname }}Model.class, cls, beans, true, false);
